* {
    margin: 0;
    padding: 0;
}

.card {
    background-color: #727277;
    border: solid 1px gray;
    padding: 20px;
    border-radius: 15px;
    margin: 15px;
    width: 250px;
}

.card p {
    background-color: #232323;
    color: white;
    text-align: center;
    margin: 5px;
}

.card img {
    background-color: white;
    display: block;
    margin: 15px auto;
}

.card h2 {
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.card .photos {
    width: 200px;
}

.btn_SaibaMais a {
    position: relative;
    color: white;
    text-decoration: none;
    align-items: baseline;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
}

.btn_SaibaMais {
    width: 100%;
    background-color: #E5320E;
    border: none;
    margin-top: 50px;
    height: 30px;
    border-radius: 5px;
    color: white;
}

.btn_SaibaMais:hover {
    background-color: #232323;
}

.card .list-titles:focus,
.card .list-titles:hover {
    transform: scale(1.1);
    z-index: 1;
}